h1{
    color:blue;
    
}

.header{
    display:flex;
    justify-content: space-between;
    background-color:yellow;
}

.grid{
    display:flex;
    flex-wrap: wrap;
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami{
    border-radius: 20px;
    border-color: white;

    width:310px;
    font-family:cursive;
}
.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:white;
}

body{
    background-color: whitesmoke;
    text-align: center;
}

p{
    color:rgb(192, 50, 205);
}
ul{
    color:blue ;
}
ol{
    color:limegreen ;
}




